<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="signup">
            <% if (errorMessage) { %>
                <div class="flash-message error">
                    <%= errorMessage %>
                </div>
            <% } %> 
            <form action="/signup" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-control">
                    <label for="email">Email</label>
                    <input
                        <% if (typeof validationErrors !== 'undefined') {%>
                            class="<%= validationErrors.find(e => e.param === 'email') ? 'warning' : '' %>"
                        <% } %>
                        type="email"
                        name="email"
                        id="email"
                        placeholder="example@email.com"
                        value="<%= typeof oldInput !== 'undefined' ? oldInput.email : '' %>">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input
                        <% if (typeof validationErrors !== 'undefined') {%>
                            class="<%= validationErrors.find(e => e.param === 'password') ? 'warning' : '' %>"
                        <% } %>
                        type="password"
                        name="password"
                        id="password"
                        value="<%= typeof oldInput !== 'undefined' ? oldInput.password : '' %>">
                </div>
                <div class="form-control">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                        <% if (typeof validationErrors !== 'undefined') {%>
                            class="<%= validationErrors.find(e => e.param === 'confirmPassword') ? 'warning' : '' %>"
                        <% } %>
                        type="password"
                        name="confirmPassword"
                        id="confirmPassword"
                        value="<%= typeof oldInput !== 'undefined' ? oldInput.confirmPassword : '' %>">
                </div>
                <button class="button" type="submit">Signup</button>
            </form>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 