<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="cart">
            <h1>Cart</h1>
            <% if (products.length > 0) { %>
                <ul class="cart-list">
                    <li class="cart-item cart-header">
                        <p class="item-title">
                            Product
                        </p>
                        <p class="item-quantity">
                            Quantity
                        </p>
                        <p class="item-price">
                            Price
                        </p>
                    </li>
                    <% products.forEach(product => { %>
                        <li class="cart-item">
                            <a href="/products/<%= product.id %>" class="item-title">
                                <%= product.title %>
                            </a>
                            <p class="item-quantity">
                                (<%= product.cartItem.quantity %>)
                            </p>
                            <p class="item-price">
                                <%= product.currency + product.price %> 
                            </p>
                            <form action="/cart/delete" method="post">
                                <input type="hidden" name="productId" value="<%= product.id %>">
                                <button class="button" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }); %>
                </ul>
                <!-- <p class="cart-total">
                    Total: <b>$<%= (typeof price !== 'undefined') ? price : '' %></b>
                </p> -->
            <% } else { %>
                <h2>Your cart is empty</h2>
            <% } %> 
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 