<%- include('../../partials/layout/head.ejs') %>
<body>
    <%- include('../../partials/layout/navbar.ejs') %>
    <main>
        <section id="product">
            <img src="<%= product.imageUrl %>" alt="">
            <h1><%= product.title %> </h1>
            <hr>
            <p><%= product.description %> </p>
            <form action="/cart" method="POST">
                <button class="button" type="submit">Add to cart</button>
                <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
        </section>
    </main>
</body>
<%- include('../../partials/layout/footer.ejs') %> 